{% extends 'base.html' %}

{% block body %}
<h2>Добро пожаловать на "Поиск по регулярным выражениям"!</h2>
<h3>Этот проект создан способствовать в освоении специальных символов регулярных выражений.</h3>

<form method="get" action=''>
  <table>
    <p>Придумывайте шаблон (например,\bиз\S+?ть\b) и смотрите совпадение из произведения "Онегин".</p>
    <tr>
      <td>Введите шаблон:</td>
      <td><input name='pattern' type='TEXT' width='60'></td>
      <td><input value='Поиск' type='SUBMIT'></td>
    </tr>
  </table>
  <table>
    <p>Совпадения:</p>
    <tr>
      <td>{{the_results}}</td>
    </tr>
  </table>
  <table>
    <p>Основные специальные символы и их значение</p>
    <tr>
      <td>.</td>
      <td>любой текстовый знак кроме знака перевода на новую строку</td>
    </tr>
    <tr>
      <td>^<br>Эквивалентно \A</td>
      <td>в начале строки</td>
    </tr>
    <tr>
      <td>$<br>Эквивалентно \Z</td>
      <td>в конце строки</td>
    </tr>
    <tr>
      <td>*<br>Эквивалентно {0,}</td>
      <td>знак слева от звезды может отсутствовать или следовать в любом количестве; совпадение в жадном режиме</td>
    </tr>
    <tr>
      <td>+<br>Эквивалентно {1,}</td>
      <td>знак слева от плюса может следовать минимум один раз; совпадение в жадном режиме</td>
    </tr>
    <tr>
      <td>?<br>Эквивалентно {0,1}</td>
      <td>знак слева от вопроса может отсутствовать или следовать максимум один раз; совпадение в максимальном количестве</td>
    </tr>
    <tr>
      <td>*?<br>+?<br>??</td>
      <td>совпадение в минимальном количестве</td>
    </tr>
    <tr>
      <td>{число}</td>
      <td>знак слева от скобок должен следовать заданное число раз</td>
    </tr>
    <tr>
      <td>{от, до}</td>
      <td>знак слева от скобок может следовать заданное минимум и максимум число раз</td>
    </tr>
    <tr>
      <td>{от,}</td>
      <td>знак слева от скобок может следовать заданное минимум число раз</td>
    </tr>
    <tr>
      <td>{,до}</td>
      <td>знак слева от скобок может следовать заданное максимум число раз </td>
    </tr>
    <tr>
      <td>[ ]</td>
      <td>набор символов внутри скобок с тем, что совпадение допустимо только с одним из символов ([аоуюАОУЮ123])<br>
        набор символов из диапазона, из которого совпадение допустимо только с одним из символов ([а-яА-Я0-9])<br>
обычный знак без специальных значений([.] обычная точка)</td>
    </tr>
    <tr>
      <td>[^…]</td>
      <td>набор символов внутри скобок, ни с одним из которых совпадение не допустимо</td>
    </tr>
    <tr>
      <td>|</td>
      <td>или совпадение с символом слева, или – справа</td>
    </tr>
    <tr>
      <td>\</td>
      <td>преобразовать знак справа в обычный знак (\. эквивалентно [.])</td>
    </tr>
    <tr>
      <td>( )</td>
      <td>сгруппировать последовательность</td>
    </tr>
    <tr>
      <td>шаблон(?=шаблон)</td>
      <td>добавочное правило: искать совпадение с шаблоном, который следует за другим, уточненным в скобках</td>
    </tr>
    <tr>
      <td>шаблон(?!шаблон)</td>
      <td>добавочное правило: искать совпадение с шаблоном, который не следует за другим, уточненным в скобках</td>
    </tr>
    <tr>
      <td>(?<=шаблон)шаблон</td>
      <td>добавочное правило: искать совпадение с шаблоном, который следует после другого, уточненного в скобках </td>
    </tr>
    <tr>
      <td>(?>=шаблон)шаблон</td>
      <td>добавочное правило: искать совпадение с шаблоном, который не следует после другого, уточненного в скобках</td>
    </tr>
    <tr>
      <td>\b...\b</td>
      <td>граница слова</td>
    </tr>
    <tr>
      <td>\<</td>
      <td>начало слова</td>
    </tr>
    <tr>
      <td>\></td>
      <td>конец слова</td>
    </tr>
    <tr>
      <td>\d<br>Эквивалентно [[:digit:]]</td>
      <td>любая цифра</td>
    </tr>
    <tr>
      <td>\D<br>Эквивалентно[^0-9]<br>Эквивалентно [^[:digit:]]</td>
      <td>Не цифра</td>
    </tr>
    <tr>
      <td>\s<br>Эквивалентно [\t\n\r\f\v]<br>Эквивалентно [[:space:]]</td>
      <td>Любой пробельный символ</td>
    </tr>
    <tr>
      <td>\S<br>Эквивалентно [^\t\n\r\f\v]<br>Эквивалентно [^[:space:]]</td>
      <td>Любой не пробельный символ</td>
    </tr>
    <tr>
      <td>\w<br>Эквивалентно [a-zA-Z0-9_]<br>Эквивалентно [[:word:]]</td>
      <td>Любая буква, или цифра, или знак подчеркивания</td>
    </tr>
    <tr>
      <td>\W<br>Эквивалентно [^a-zA-Z0-9_]<br>Эквивалентно [^[:word:]]</td>
      <td>Не буква, не цифра, не символ подчеркивания</td>
    </tr>


  </table>


</form>

{% endblock %}
